*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; */
    min-height: 100vh;
    width: 100%;
    font-family: "Roboto";
    background-color: black;
    color:#e6eef6;
}


header { 
    display: grid;
    background-color: #4FDD80;
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
    grid-template-rows: 11rem;
}

footer {
    display: grid;
    background-color: #4FDD80;
    grid-column: auto / span 5;
    grid-row: 2 / 3;
    grid-template-rows: 11rem;
    
    justify-items: center;
    align-items: top;
    font-size: 6rem;
}

main {
    display: grid;
    grid-template-rows: 11rem;
    background-color: #4FDD80;
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
    
    align-items: end;
    justify-content: center;
}

.nest {
    display:grid;
    padding-left: 10%;
    padding-top: 8%;
   
    grid-template-columns: repeat(auto-fit, minmax(min(500px, 50vmax), 1fr));
    grid-auto-rows: repeat(auto, 1fr);
}

.layout {
    display:flex;
    align-items:start;
    justify-content:center;
    flex-direction: column;
    overflow:hidden;
    margin: 3rem;
    aspect-ratio: 4/6;
}

.layout img {
   width:100%;
    height:100%;
    object-fit:contain;
    display:block;
}

/* button --> */

#pressMe {
    border-radius: 0.5rem;
    gap: 0.5rem;
    padding: 0.5rem;
    color: white;
    background-color: red;
    border: none;
}

#clickme {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* <-- button */


/* text */

#textWithBackgroundColor {
    background-color: white;
}

/* text */

.large {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 50vmax), 1fr));
    grid-template-rows: repeat(auto, 1fr);
    
    background-color: black;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 8%;
    gap: 2rem;
    
    grid-column: auto / span 1;
    grid-row: auto / span 1;
}

.large img {
    width:100%;
    height:100%;
    object-fit:contain;
    display:block;
}

.temp {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, 1fr);
    padding: 2rem;
    align-items: center;
    justify-content: end;
}
.temp h2 {
    background-color: white;
    padding-top: 0.5rem;
    color: black;
    font-family: "roboto";
}

.temp p {
    background-color: white;
    font-family: "roboto";
    color: black;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.bigButton {
    margin: 8rem;
    padding: 2rem;
}

.temp button {
    margin-top: 2rem;
    /* gap: 1rem; */
    border-radius: 1rem;
    color: white;
    background-color: red;
    border: none;
    justify-content: flex-start;
}

#textWithBackgroundColor {
    background-color: white;
    padding: 10%;
}

.bottomBar {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    
    background-color:rgb(39, 39, 39);
    padding: 5rem;
    
    grid-column: auto / span 5;
    grid-row: auto / span 1; 
}

.bar {
    display: flex;
    flex-direction: column;
    background-color:rgb(39, 39, 39);
    justify-content: center;
    
}

.bar h2 {
    padding: 3%;
}

.bar p {
    font-size: 10%;
}

.bottomBarImg {
    display: flex;
    flex-direction: row;
}

.extraLarge {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.extraLarge img {
    width: 100%;
    height: auto;
    display: block;
}